<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Edit Produk</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Edit Mahasiswa
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list lines="full">
								
    <ion-item>
      <ion-label position="floating">Jenis</ion-label>
      <ion-input required [(ngModel)]="jenis" placeholder="Masukkan Jenis" type="text">
      </ion-input>
    </ion-item>
								
    <ion-item>
      <ion-label position="floating">Nama</ion-label>
      <ion-input required [(ngModel)]="nama" placeholder="Masukkan Nama" type="text">
      </ion-input>
    </ion-item>
								
    <ion-item>
      <ion-label position="floating">Banyak</ion-label>
      <ion-input required [(ngModel)]="banyak" placeholder="Masukkan Banyak" type="text">
      </ion-input>
    </ion-item>
      <ion-input required [(ngModel)]="id" type="hidden">
      </ion-input>
    <ion-row>
      <ion-col>
        <ion-button type="button" (click)="editProduk()" color="primary" shape="full" expand="block">Edit Produk
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>